<launch>

    <node name="mongo" type="mongo_wrapper_ros.py" pkg="warehouse_ros_mongo">
        <param name="overwrite" type="bool" value="true"/>
        <param name="database_location" type="str" value="/home/mpavezb/workspaces/_mongo.db"/>
        <param name="db_path" type="str" value="/home/mpavezb/workspaces/_mongo.db"/>
        <param name="database_path" type="str" value="/home/mpavezb/workspaces/_mongo.db"/>
    </node>

    <param name="warehouse_port" type="int" value="27019"/>
    <param name="warehouse_host" type="str" value="localhost"/>
</launch>